<app-search-navbar></app-search-navbar>
<main>
<div class = "container-fluid">
    <div class = "container detail-section">
        <div class = "row">
            <div class = 'col-sm-4'>
                <div class = "poster-box">
                    <img src="https://image.tmdb.org/t/p/w200{{Movie.poster_path}}"alt="Poster Not Avaliable">
                </div>
            </div>
    <div class="col-sm-8">
        <ul style = "display:flex; align-items: center;">
            <li>
              <h1>{{Movie.title}}</h1>
            </li>
            <li>
              <div class="rate-box">
                <h5>{{Movie.vote_average}}</h5>
              </div>
            </li>
        </ul>
        <p>{{Movie.tagline}}</p>
                 <h4>Plot Overview</h4>
                 <p>{{Movie.overview}}</p>
            </div>
    </div>
       <h1>Cast</h1>
    <div class = "row">
        <div class="col-lg-3 col-md-4 col-sm-6"*ngFor = "let
        cast of Cast">
            <img src="https://image.tmdb.org/t/p/w200{{cast.profile_path}}">
            {{cast|json}}
        </div>
    </div>
        <pre>
        {{Movie | json}}
        </pre>
    </div>
    </div>
</main>
