<app-search-navbar></app-search-navbar>
<div class = "container-fluid">
    <main>
        <div class = "container">
        <div class = "row">
            <div class = "col-md-4">
                <div class = "profile-box">
                    <img src="https://image.tmdb.org/t/p/w300{{actorDetails.person.profile_path}}">
                </div>
                Name:{{actorDetails.person.name}}
                Department:
                Popularity:
            </div>
             <div class="col-md-8">
                 <h2>Featured Films</h2>
                 <div class = "row">
                     <div class="col-md-6" *ngFor="let Featured of Movies">
                        <h1>{{Movies.name}}</h1>
                     </div>
                 </div>

             </div>
        </div>
        </div>
    </main>
</div>