.jumbotron {
  height: 90vh;
  padding:0px;
  background-image: url('../../images/movie-collection.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo-box{
    position: relative;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:15px;
    width:550px;
    text-align:center;
    margin:auto;
}
.hero-text{
      background: rgba(0, 0, 0, 0.788);
    color:#f3f3f3;
    font-size:6.5rem;
    font-family: 'Bangers',
    cursive;
    letter-spacing:10px;
    padding:15px;
    margin:0;
}
.search-area{
    margin:10px 0;
    align-items: center;
     position: relative;
     top:20%;
     left:50%;
     transform:translate(-50%, -50%);
}
.search-input{
    width:50%;
    margin:auto;
    border:solid #dadada 1px;
    border-radius: 3px;
   height:30px;

}
#search-icon{
    width:25px;

}
button{
        border:solid #dadada 1px;
        border-radius: 3px;
}
#ticket-icon{
    width:70px;
}
.search-bnt{
    padding:5px;
}
@media screen and (max-width:576px){
    .hero-text{
        font-size: 3.5rem;
        letter-spacing:5px;
    }
    .logo-box{
        width:345px;
    }
    #ticket-icon {
      width: 50px;
    }
}